.teaser {
    padding: 4rem 7rem;
    padding-bottom: 0;
    background: url(../../icons/background-left.svg) no-repeat;
    background-position: bottom left;
    background-size: contain;

    @media screen and (max-width: 1024px) {
        text-align: center;
        padding: 4rem;
        padding-bottom: 0;
    }
}

.img {
    max-height: 60rem;
    width: 100%;
    object-fit: contain;
}

.text {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #2F2F2F;
    margin-top: 1.5rem;

    & li {
        margin-bottom: 2rem;
    }
}

.content {
    @media screen and (max-width: 1024px) {
        order: -1;
    }
}