.programme {
    padding: 4rem 7rem;
}

.image {
    opacity: 0.1;
}

.title {
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 5.1rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.text {
    a {
        color: #f67c20;
    }
}

.navItem {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.btn {
  height: 4.2rem;
  border-radius: 5.7rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d6d6d6;
  color: #8c8c8c;
  background: #fff;
  padding: 0 5rem;
  white-space: nowrap;

  &:hover {
    color: #8c8c8c;
  }

  &:hover {
    text-decoration: none;
  }
  &.active {
    background: linear-gradient(180deg, #f68b20 0%, #ff3d00 100%);
    color: #fff;
  }
}