.imageFile {
  padding: 0 7.2rem;
  position: relative;
}

.title {
  margin-bottom: 3rem;
}

.doc {
  display: flex;
  flex-direction: column;
}

.docTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000;
  margin-bottom: 1rem;
}

.docName {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #000000;
  margin-bottom: 1rem;
}

.docSpec {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000;
  margin-bottom: auto;

  span {
    text-transform: capitalize;
  }
}

.btns {
  margin-top: 1rem;
}

.btnTerm {
  margin-bottom: 1.1rem;
}

.arrowLeft {
  background: url(../../icons/arrow-orange.svg);
  transform: rotate(180deg);
  width: 36px;
  height: 43px;
  position: absolute;
  left: 4rem;
  border: none;
  bottom: 2rem;
  cursor: pointer;
}

.arrowRight {
  background: url(../../icons/arrow-orange.svg);
  width: 36px;
  height: 43px;
  position: absolute;
  right: 4rem;
  border: none;
  bottom: 2rem;
  cursor: pointer;
}

.slider {
  position: unset;
  height: 100%;
}

.slide {
  margin-right: 2rem;
  height: 100%;
}

.img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  max-height: 50rem;
  @media screen and (max-width: 1024px) {
      margin-bottom: 2rem;
  }
}

.link {
  display: block;
  height: 100%;
}